html {
    background-color: #2c2f33;
    font-family: Helvetica, Arial, sans-serif;
    transition: .2s;
    overflow-x: hidden;
    user-select: none;
    color: #2c2f33
}

body {
    height: 100vh
}

.white {
    background-color: #fff
}

.colorchange {
    margin: 50px;
    top: -40px;
    position: fixed;
    right: -36px;
    text-align: right;
    z-index: 1
}

.colorchange>div {
    transition: .2s;
    padding: 10px;
    display: inline-block;
    color: cbt;
    background: ctt;
    position:relative;
    user-select:none;
    border-radius:5px;
    cursor:pointer;
    box-shadow:0 0 5px cbt;
}

.colorchange>div:hover {
    background: cbt;
    color: ctt;
}

.section {
    position: relative;
    height: 100vh;
    top: -8px;
    width: 103%;
    left: -8px;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    display: -webkit-box
}

.header>div:nth-of-type(1) {
    width: 411px;
    text-align: center
}

.header svg:hover {
    border: 1px solid #7289da;
    border-collapse: separate;
    border-spacing: 615px;
    box-shadow: 0 0 4331px #7289da
}

.header path:hover {
    fill: #6175b7
}

.header svg>path {
    transition: .5s
}

.header svg {
    width: 106px;
    position: relative;
    transition: .2s;
    transform: scale(1);
    animation: move 5s ease-in-out infinite;
    transform-origin: 50% 50%
}

.header>div:nth-of-type(1)>div:nth-of-type(1) {
    color: #7289da;
    font-size: 28px;
    position: absolute;
    top: 83%;
    left: -36px;
    text-align: center;
    width: 102%
}

@keyframes move {
    0% {
        transform: scale(1)
    }
    38% {
        transform: scale(.8, 1)
    }
    40% {
        transform: scale(.8, 1)
    }
    78% {
        transform: scale(1.3)
    }
    80% {
        transform: scale(1.3)
    }
    100% {
        transform: scale(1) translate(0, 1px)
    }
}

.startup>div:nth-of-type(1)>div:nth-of-type(1) {
    width: 100%;
    align-items: center;
    display: flex;
    vertical-align: middle;
    position: relative
}

.startup>div:nth-of-type(1)>div:nth-of-type(1)>div {
    border-radius: 80px;
    height: 100vh;
    width: 430px;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translate(-118%, -50%);
    opacity: 1;
}

.startup>div:nth-of-type(1)>div:nth-of-type(1)>div>div {
    position: absolute;
    color: #7289da;
    font-weight: 700;
    text-shadow: 0 0;
    left: 68%;
    white-space: pre;
    top: 40%
}

.startup>div:nth-of-type(1)>div:nth-of-type(1)>div>img {
    width: 150px;
    position: relative
}

.projects {
    display: flex;
    height: 154px;
    width: 598px;
    align-items: center;
    vertical-align: middle;
    justify-content: center
}

.projects>div {
    width: 210px;
    height: 136px;
    border: 1px solid;
    border-radius: 5px;
    margin: 11px;
    text-align: center;
    cursor: pointer;
    transition: .5s
}

.projects>div>img {
    width: 54%;
    position: relative;
    top: 8%
}

.projects>div:hover {
    box-shadow: 0 0 79px #2c2f33
}

.projects>div>div:nth-of-type(1) {
    overflow: hidden;
    border-bottom: 1px solid;
    position: relative;
    height: 78px
}

.projects>div>div:nth-of-type(1)>img {
    width: 174px;
    position: relative;
    top: -42px
}

.projects>div>div:nth-of-type(2) {
    font-size: 23px;
    position: relative
}

.button {
    transition: .2s;
    padding: 10px;
    display: inline-block;
    color: #7289da;
    background: #fff;
    position: relative;
    user-select: none;
    border-radius: 5px;
    cursor: pointer
}

.button:hover {
    background: #7289da;
    color: #fff
}

.blob {
    width: 1821%;
    transform: scale(1);
    animation: move 5s ease-in-out infinite;
    transform-origin: 50% 50%;
    opacity: .5;
    z-index: -1;
    position: absolute;
    left: -870%;
    top: 151%
}

::-webkit-scrollbar {
    color: #fff;
    width: 5px
}

::-webkit-scrollbar-track {
    opacity: 0
}

::-webkit-scrollbar-thumb {
    background: #333d60;
    border-radius: 1px;
    opacity: 1
}

.startup>div:nth-of-type(1)>div:nth-of-type(1)>div {
    border-radius: 80px;
    margin: 0;
    position: absolute;
    top: -61%;
    left: 81%;
    width: fit-content;
    height: 210px;
    transform: translate(-118%, -50%);
}

.startup>div:nth-of-type(1)>div:nth-of-type(1)>div:nth-of-type(1)>svg {
    width: 854px;
    height: 854px;
    transform: scale(1);
    animation: move 5s ease-in-out infinite;
    transform-origin: 50% 50%;
}

.startup {
    position: absolute;
    text-align: center;
    margin: 0;
    position: absolute;
    vertical-align: middle;
    top: 89%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.startup>div:nth-of-type(1) {
    position: relative;
    width: 100%;
    height: 100%;
    font-size: 51px
}

.startup>div:nth-of-type(1)>div:nth-of-type(1) {
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    vertical-align: middle;
    position: relative
}

.startup>div:nth-of-type(1)>div:nth-of-type(1)>div>div {
    text-align: center;
    position: absolute;
    color: #7289da;
    font-weight: 700;
    text-shadow: 0 0;
    display: block;
    width: 100%;
    font-size: 59px;
    white-space: pre;
    top: -101%
}

.startup>div:nth-of-type(1)>div:nth-of-type(1)>div>div>div:nth-of-type(1) {
    font-size: 31px;
    text-align: center;
    position: absolute;
    width: 100%
}

.startup>div:nth-of-type(1)>div:nth-of-type(1)>div>div>div:nth-of-type(2) {
    font-size: 21px;
    text-align: center;
    position: absolute;
    width: 100%;
    top: 102px
}